    * {
        margin: 0;
        padding: 0;
    }
    
    .Nav-container {
        text-align: center;
        height: 50px;
        width: 100%;
        color: white;
        padding-top: 30px;
        position: sticky;
    }
    
    .Nav-anchor {
        padding: 20px;
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        cursor: pointer;
        padding-right: 10px;
        color: black;
    }

    a{
        padding: 10px;
        text-decoration: none;
    }
    
    .user-details {
        margin: 0;
        display: flex;
        justify-content: space-around;
    }
    
    #user-img {
        display: block;
        height: 300px;
        margin-top: 20px;
        margin-left: -200px;
    }
    .heading1{
        font-size: 30px;
        margin-top: 30px;
        margin-right: -100px;
    }
    .user-name{
        color: rgb(205, 51, 247);
    }

    .section-info{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        padding: 20px;
    }
    .link-container{
        display: flex;
        justify-content: space-evenly;
    }
    .btn{
        color: white;
        background-color: black;
        padding: 8px;
        font-size: 18px;
        margin-top: 18px;
        margin-left: -10px;
        margin-right: 20px;
        border-radius: 17px;
        cursor: pointer;
    }

    .btn1{
        color: white;
        background-color: black;
        padding: 8px;
        font-size: 18px;
        margin-top: 18px;
        margin-left: -10px;
        margin-right: 20px;
        border-radius: 17px;
        cursor: pointer;
    }
    .btn1 a{
        text-decoration: none;
        color: white;
    }
    .btn a{
        text-decoration: none;
        color: white;
    }
    .product-card{
        display: flex;
        justify-content: space-around;
    }
    .project-card-container{
        height: 300px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .learning-card{
        display: flex;
        justify-content: space-around;
    }
    .Learning-card-container{
        height: 300px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .hobbies-card{
        display: flex;
        justify-content: space-around;
    }
    .hobbies-card-container{
        height: 300px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .about-description{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        width: 1400px;
        border:none;
        border-radius: 20px;
        background-color: rgb(233, 208, 240);
        margin-bottom: 30px;
        font-size: 20px;
        padding: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(56, 55, 55);
    }
    .projecct-heading{
        text-align: center;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .hobbies-des{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px;
    }
    .project-des{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px;
    }
    a{
        text-decoration: none;
    }


    @media (max-width:350px){
        .user-details {
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        #user-img{
            display: block;
            height: 250px;
            margin-top: 30px;
            margin-left: 10px;
        }
        .product-card{
            display: flex;
            flex-direction: column;
            margin-left: 45px;
        }
        .learning-card{
            display: flex;
            flex-direction: column;
            margin-left: 45px;
        }
        .hobbies-card{
            display: flex;
            flex-direction: column;
            margin-left: 45px;
        }
        .about-description{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        width: 200px;
        border:none;
        border-radius: 20px;
        background-color: rgb(225, 166, 241);
        margin-bottom: 30px;
        font-size: 15px;
        padding: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(56, 55, 55);
        }
        .heading1{
            font-size: 23px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .btn{
            color: white;
            background-color: black;
            padding: 8px;
            font-size: 10px;
            margin-top: 18px;
            margin-left: -40px;
            border-radius: 17px;
            cursor: pointer;
        }
        .btn1{
            color: white;
            background-color: black;
            padding: 8px;
            font-size: 10px;
            margin-top: 18px;
            margin-left: 5px;
            border-radius: 17px;
            cursor: pointer;
        }
    }
    @media (max-width: 350px){
        .Nav-container{
            display: none;
        }
    }

